<div class="collapse bg-inverse" id="navbarHeader">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 py-4">
        <h4 class="text-white">About</h4>
        <p class="text-muted">Computer Programming is so much fun! I have been learning to code since I was 14 and have been learning like crazy this past year. I find it awesome to be able to type something into a computer and have the computer complete a task or multiple tasks for you. So far I have learned Git, HTML, CSS, Java, Javascript, C, Angular 1.5, Angular 2, and Typescript. I plan on continuing to learn how to program to eventually become a software developer or engineer.</p>
      </div>
      <div class="col-sm-4 py-4">
        <h4 class="text-white">Explore</h4>
        <ul class="list-unstyled">
          <%= nav_helper "text-white", "li" %>
          <li><%= login_helper "text-white" %></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="navbar navbar-inverse bg-inverse">
  <div class="container d-flex justify-content-between">
    <a href="#" class="navbar-brand">Brayden Lemke</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</div>



     
