<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Projects</h1>
    <p class="lead text-muted">This is where you can find different projects that I have built in the past that have helped me learn many great things about coding!</p>
    <p>
      <%= link_to 'Find out more about me', about_me_path, class: 'btn btn-primary' %>
      <%= link_to 'My Blog', blogs_path, class: 'btn btn-secondary' %>
    </p>
  </div>
</section>