<div class="app-card-container">
  <div class="card">
    <h1>About Me</h1>
    <hr>
    <div class="row">
      <div class="col-md-4">
        
        <%= image_tag "MeAtPark.JPG", width: 350, alt: "profile image", class: "profile-img" %>
        
        <div class="skills">
          <% @skills.each do |skill| %>
            <div class="skill">
            <h4><%= skill.title %></h4>
              <div class="progress">
                <div class="progress-bar progress-bar-striped bg-warning"
                     role="progresbar"
                     aria-valuenow="<%= skill.percent_utilized %>"
                     aria-valuemax="100"
                     style="width: <%= skill.percent_utilized %>%"
                >
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="col-md-8">
        <p>Being outside is amazing! During the summers I am always out playing basketball in my free time and in the winters I am up in the mountains snowboarding with my friends.</p>
        <p>Computer Programming is so much fun! I have been learning to code since I was 14 and have been learning like crazy this past year. I find it awesome to be able to type something into a computer and have the computer complete a task or multiple tasks for you. So far I have learned Git, HTML, CSS, Java, Javascript, C, Angular 1.5, Angular 2, Typescript, Ruby, and Ruby On Rails. I plan on continuing to learn how to program to eventually become a software developer or engineer.</p>
        
        <p>
          <button
            class="btn btn-primary"
            type="button"
            data-toggle="collapse"
            data-target="#jobHistory"
            aria-expanded="false"
            aria-controler="jobHistory"
          >
            Job History
          </button>
          
          <button
            class="btn btn-primary"
            type="button"
            data-toggle="collapse"
            data-target="#education"
            aria-expanded="false"
            aria-controler="education"
          >
            Education
          </button>
        </p>
        
        <p>
          <div class="collapse" id="jobHistory">
            <div class="card card-block">
              <h4>McDonalds - Summer 2015</h4>
              <p>As a crew member at McDonalds I would clean up the restaurant, take orders from the drive through and inside the restaurant, cook the food, and assemble the food.</p>
            </div>
            <div class="card card-block">
              <h4>Code To Success - Summer 2017</h4>
              <p>As a peer mentor I would go to Orem High School from 8AM-12PM Monday through Thursday and I helped the students when they ran into any bugs while going through the course material and help encourage them to continue their learning on how to code.</p>
              <p>This job helped me a lot with great debugging techniques and also went through the course with the students and learned a lot about ruby and ruby on rails.</p>
            </div>
            <div class="card card-block">
              <h4>NUVI Intern - Summer 2017</h4>
              <p>From 1PM-5PM Monday through Thursday and 8AM-5PM on Fridays I would go to NUVI as a Web Developer Intern.</p>
              <p>Here I would update nuvi.com and fix bugs there. I would also build landing pages, add them to pardot as templates, and validate forms using HTML, CSS, and Javascirpt.</p>
            </div>
          </div>
          
          <div class="collapse" id="education">
            <div class="card card-block">
              <h4>Code To Success - 2016</h4>
              <p>Here I was given a great foundation of web development by learning HTML, CSS, JavaScript, Git, NodeJS, ExpressJS, and SQL</p>
            </div>
            <div class="card card-block">
              <h4>Westlake High School - 2017</h4>
            </div>
            <div class="card card-block">
              <h4>Mountainland Applied Technology College</h4>
              <p>At MATC I took a course called Web Programming and Development. Here I learned most of what I know today in web development. I learned HTML, CSS, JavaScript, Angular1.5, Angular2, NodeJS, ExpressJS, MongoDB, and PostgreSQL</p>
              <p>Along with this course towards the end I was placed in a tech company called NUVI where I built landing pages, fixed things on the main website, and learned a lot about ruby during the internship</p>
            </div>
          </div>
        </p>
      </div>
    </div>

  </div>
</div>


