<div class="app-card-container">
  <div class="card">
    <h1>About Me</h1>
    <hr>
    <div class="row">
      <div class="col-md-4">
        
        <%= image_tag "MeAtPark.JPG", width: 350, alt: "profile image", class: "profile-img" %>
      </div>
      <div class="col-md-8">
        <p>This is supposed to have content lol Bacon ipsum dolor amet ribeye andouille pastrami pork belly ham. Prosciutto pancetta capicola, shoulder meatloaf cow hamburger corned beef rump t-bone burgdoggen pig salami drumstick. Beef swine leberkas, brisket capicola bresaola boudin tri-tip flank andouille landjaeger. Pork spare ribs pork loin, biltong fatback shoulder corned beef ribeye. Tail beef tri-tip prosciutto tenderloin pancetta, cupim doner spare ribs shankle corned beef bacon meatloaf andouille pig. Tail beef ribs hamburger meatloaf corned beef, ribeye frankfurter ham.</p>
        <p>Bacon ipsum dolor amet ribeye andouille pastrami pork belly ham. Prosciutto pancetta capicola, shoulder meatloaf cow hamburger corned beef rump t-bone burgdoggen pig salami drumstick. Beef swine leberkas, brisket capicola bresaola boudin tri-tip flank andouille landjaeger. Pork spare ribs pork loin, biltong fatback shoulder corned beef ribeye. Tail beef tri-tip prosciutto tenderloin pancetta, cupim doner spare ribs shankle corned beef bacon meatloaf andouille pig. Tail beef ribs hamburger meatloaf corned beef, ribeye frankfurter ham.</p>
      </div>
    </div>

  </div>
</div>


