<div class="row">
  <div class-"col-md-6">
    <p><a href="mailto:braydenlemke8@gmail.com?subject=PortfolioContact" "email me">Email me</a></p>
  </div>
  <div class="col-md-6">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3037.389122574311!2d-111.88550498426987!3d40.42238176321901!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x874d85aa88d81f95%3A0xd3d3e6571abd0453!2sNUVI!5e0!3m2!1sen!2sus!4v1499725663519" width="450" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>
